body {
    position: relative;
    height: 100vh;
}

main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#book-add {
    display: flex;
    flex-direction: column;

 }

input {
    width: 300px;
    margin: 10px 0;
    padding: 5px;
}

button {
    width: 100px;
    margin: 10px 0;
    padding: 5px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

