main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section {
    width: 75%;
}

#book-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

input {
    width: 300px;
    margin: 10px auto;
    padding: 5px;
}